@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// Color Primario

$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);

// Color de acentuacion
$Blue: hsl(248, 32%, 49%);

// Color Neutral
$DarkBlue: hsl(249, 10%, 26%);
$GrayishBlue: hsl(246, 25%, 77%);

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-image: url("../images/bg-intro-mobile.png");
    background-color: $Red;
    color: white;
    text-align: center;
}

main {
    .parrafo {
        padding: 0px 1em;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }