@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-image: url("../images/bg-intro-mobile.png");
  background-color: #ff7a7a;
  color: white;
  text-align: center;
}

main {
  padding-top: 3.8em;
}

@media (min-width: 720px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
  }
  main .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50vw;
    height: 93vh;
    padding-left: 7em;
    text-align: left;
  }
  main .cont h2 {
    padding-left: 1.2em;
  }
  main .cont2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50vw;
    padding-right: 5em;
  }
  main .cont2 .btnProbar {
    margin-top: 0px;
    width: 84%;
    padding: 1em;
  }
  main .cont2 .btnProbar br {
    display: none;
  }
  main .cont2 form {
    width: 78%;
    margin-bottom: 0px;
  }
  main .cont2 form p br {
    display: none;
  }
}

main h2 {
  font-weight: 700;
  font-size: 1.7em;
}

main .parrafo {
  padding: 0px 2em;
  font-weight: 500;
}

main .btnProbar {
  background-color: #6055a5;
  border: none;
  border-radius: 10px;
  width: 93%;
  padding: 1.3em .1em;
  margin-top: 2.6em;
  color: white;
  font-size: 1.1em;
  -webkit-box-shadow: 0px 7px 0px 0px rgba(62, 60, 73, 0.3);
          box-shadow: 0px 7px 0px 0px rgba(62, 60, 73, 0.3);
}

main .btnProbar span {
  font-weight: 600;
}

main form {
  background-color: white;
  border-radius: 15px;
  width: 78vw;
  margin: 1.3em auto;
  padding: 1.5em 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 6px rgba(62, 60, 73, 0.3);
          box-shadow: 0px 6px rgba(62, 60, 73, 0.3);
}

main form .msjError {
  color: #ff7a7a;
  font-size: .75em;
  text-align: right;
  position: relative;
  top: -10px;
  right: -20px;
  font-style: italic;
}

main form .msjError i {
  color: #ff7a7a;
  position: relative;
  top: -1.5em;
  right: 2em;
  font-size: 2em;
}

main form .input {
  font-weight: 600;
  padding: 1.1em 1.5em;
  margin-top: 1.2em;
  font-size: .9em;
  border-radius: 6px;
  border: 1px solid rgba(62, 60, 73, 0.2);
}

main form .inputError {
  border: 2px solid rgba(255, 122, 122, 0.7);
  -webkit-box-shadow: 0px 0px 2px #ff7a7a;
          box-shadow: 0px 0px 2px #ff7a7a;
}

main form .marginError {
  margin: 0px;
}

main form .marginError2 {
  margin-top: 1.2em;
}

main form .submit {
  background-color: #38cc8c;
  border: none;
  -webkit-box-shadow: 0px 4px #2fb67c;
          box-shadow: 0px 4px #2fb67c;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1em;
}

main form .submit:hover {
  background-color: rgba(56, 204, 140, 0.6);
  cursor: pointer;
  -webkit-transition: background-color ease .5s;
  transition: background-color ease .5s;
}

main form p {
  color: #b9b6d3;
  font-size: .7em;
  margin-top: 0px;
  margin-bottom: .5em;
}

main form p span {
  color: #ff7a7a;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=index.css.map */