<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Frontend Mentor | Intro component with sign up form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/index.css">

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
  </style>
</head>
<body>
  <main id="app">
    <div class="cont">
      <h2>Learn to code by<br> watching others</h2>

      <p class="parrafo">See how experienced developers solve problems in real-time. Watching scripted tutorials is great, but understanding how developers think is invaluable. </p>
    </div>

    <div class="cont2">
      <button class="btnProbar"><span>Try it free 7 days</span> then<br> $20/mo. thereafter</button>

      <form>
        <input type="text" class="input" :class="classErrorName" v-model="firstName" placeholder="First Name">
        <span v-if='msjErrorNane' class="msjError">
          First Name cannot by empty
          <i class="bi bi-exclamation-circle-fill" v-if='msjErrorNane'></i>
        </span>
        
        <input type="text" class="input" :class="classErrorLastName" v-model="lastName" placeholder="Last Name">
        <span v-if='msjErrorLastName' class="msjError">
          Last Name cannot by empty
          <i class="bi bi-exclamation-circle-fill" v-if='msjErrorLastName'></i>
        </span>
        
        <input type="email" class="input" :class="classErrorEmail" v-model="email" placeholder="Email Address">
        <span v-if='msjErrorEmail' class="msjError">
          Looks like this is not an email
          <i class="bi bi-exclamation-circle-fill" v-if='msjErrorEmail'></i>
        </span>
        
        <input type="password" class="input" :class="classErrorPassword" v-model="password" placeholder="Password">
        <span v-if='msjErrorPassword' class="msjError">
          Password cannot by empty
          <i class="bi bi-exclamation-circle-fill" v-if='msjErrorPassword'></i>
        </span>
        
        <input type="button" class="input submit" name="" @click="btnClaimFree" placeholder="" value="Claim your free trial " required>

        <p>By clicking the button, you are agreeing to<br> our <span>Terms and Services</span></p>
      </form>
    </div>
  </main>
  
  <footer>
    <p class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="https://github.com/jyokarianlia/intro-component" target="_blank">jyokarianlia</a>.
    </p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/vue.js"></script>
</body>
</html>